<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <title>Wear or Tear?</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
        <link href="css/style.css" rel="stylesheet" />

    </head>

    <body>

        <header>
            <h1><span class="red">Wear</span> or <span class="blue">Tear?</span></h1>
            <h2>Vote on shoes you want to wear</h2>
        </header>

        {{{body}}}


    </body>
</html>
